.root {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

$start_column_width: 150px;

// @function w($width) {
//     @return calc( ( 100% - $width )/12 );
// }

$dark: #808080;
$white: #ffffff;

$colimn_width: calc( ( 100% - 150px )/12 );

@mixin elem( $width ) {
    max-width: $width;
    flex-basis: $width;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    background-color: $white;
    color: $dark;
    box-sizing: border-box;
    // border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    // border-left: .5px solid $white;
    border-right: 1px solid $dark;

    // &:first-child {
    //     border-left: 1px solid $dark;
    // }
    &:last-child {
        border-right: 1px solid $dark;
    }
}
.start-col {
    @include elem( $start_column_width );
    border-left: .5px solid $dark;
}
.col {
    @include elem( $colimn_width );
}