.content-title-block {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

$start_column_width: 150px;

// @function w($width) {
//     @return calc( ( 100% - $width )/12 );
// }

$dark: #808080;
$white: #ffffff;

$colimn_width: calc( ( 100% - 150px )/12 );

@mixin elem( $width ) {
    max-width: $width;
    flex-basis: $width;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $dark;
    color: $white;
    box-sizing: border-box;
    // border-top: 1px solid $dark;
    border-bottom: 1px solid $dark;
    // border-left: .5px solid $white;
    border-right: 1px solid $white;

    // &:first-child {
    //     border-left: 1px solid $dark;
    // }
    &:last-child {
        border-right: 1px solid $dark;
    }
}
.content-title-block__start-elem {
    @include elem( $start_column_width );
}
.content-title-block__elem {
    @include elem( $colimn_width );
}

.page-title {
    margin-bottom: 20px;
}

.wrap__manage {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.wrap__select {
    min-width: 305px;
}

.wrap__year {
    min-width: 100px;
}
