.page-title {
    margin-bottom: 20px;
}

$input_width: 320px; // 200px;

.form {
    width: 400px;
}

.form-field {
    margin-top: 20px;
}

.form-field__select-wrap {
    width: $input_width; // 200px;
}

.select-label {
    display: block;
}

$default_color: #1890ff;
$white: #ffffff;

.select-element {
    display: block;
    color: $default_color;
    padding: 10px 20px 10px 20px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box; 
    margin: 7px 0 0 0; 
    border-radius: 2px;
    border: solid 1px $default_color;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $white; 
    background-image:
    url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), 
    linear-gradient(to bottom, $white 0%,$white 100%); 
    background-repeat: no-repeat, repeat;
    // значек
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.input-elem {
    display: block;
    color: $default_color;
    padding: 10px 20px 10px 20px;
    width: 100%;
    height: 40px;
    box-sizing: border-box; 
    margin: 7px 0 0 0; 
    border-radius: 2px;
    border: solid 1px $default_color;
    background-color: $white;     
}

.form-field__input-date-wrap {
    width: 300px;
}
.date-input {
    display: block;
    color: $default_color;
    padding: 10px 20px 10px 20px;
    width: $input_width; // 100%;
    max-width: 100%;
    height: 40px;
    box-sizing: border-box; 
    margin: 7px 0 0 0; 
    border-radius: 2px;
    border: solid 1px $default_color;
    background-color: $white; 
}

$btn_color_default: #1890ff;
$btn_color_default_with_hover: #69c0ff;
.submit-button {
    display: inline-block;
    padding: 10px 20px 8px 20px;
    border-radius: 2px;
    height: 40px;
    border: 1px solid $btn_color_default;
    background-color: $btn_color_default;
    outline: none;
    text-align: center;
    vertical-align: middle;
    color: $white;
    cursor: pointer;

    &:hover {
        color: $white;
        background-color: $btn_color_default_with_hover;
        border-color: $btn_color_default_with_hover;
    }    
}

.select-component {
    margin: 7px 0 0 0;
}